// Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Transition
@mixin transition($attribute, $delay, $ease){
	-webkit-transition	: $attribute $delay $ease;
	-moz-transition		: $attribute $delay $ease;
	-o-transition		: $attribute $delay $ease;
	-ms-transition		: $attribute $delay $ease;
	transition			: $attribute $delay $ease;
}

// Placeholder
@mixin placeholder($color){
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $color;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: $color;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: $color;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: $color;
	}
}

// generic transform
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
 
// scale
@mixin scale($scale) {
	 @include transform(scale($scale));
} 

@mixin scaleX($scale) {
	 @include transform(scaleX($scale));
} 

@mixin scaleY($scale) {
	 @include transform(scaleY($scale));
} 

// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin: $origin;
}


.test {
  @include skew(25,10);
  @include transform-origin(top left);
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  background-color: rgba(20,20,20,.5);
}