.banner{
  // background: white;
  max-width: 100%;
  max-height: 100%;
  // padding-top: 95px;
}

.banner-slideshow{
  position: relative;
  height: 100%;
  max-width: 100%;
  .slick-list, .slick-track{
    height: 100%;
  }
  .slider{
    width: 100%;
    height: 100%;
    .slide-item{
      max-width: 100%;
      height: 100%;
      background-size: cover;
      .caption{
        padding: 0px 100px;
        @media(max-width: 768px){
          padding: 0px;
          text-align: center;
          a{
            margin: auto;
          }
        }
        h2{
          font-size: 43px;
          color: white;
          @media(max-width: 768px){
            font-size: 32px;
            line-height: 32px;
          }
        }
        p{
          font-size: 20px;
          @media(max-width: 768px){
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
      .container{
        height: 100%;
        display: flex;
        align-items: center;
        @media(max-width: 768px){
          align-items: flex-end;
          padding-bottom: 120px;
        }
      }
      img{
        width: calc(100% + 100px);
        //margin-left: -50px;
      }
    }
  }
  .controls{
    position: absolute;
    top: 50%;
    height: 30px;
    margin-top: -15px;
    left: 0px;
    right: 0px;
    .slick-arrow{
      height: 30px;
      //width: 100px;
      background: none;
      position: absolute; 
      outline: 0;
      background-repeat: no-repeat;
      background-position: center right;
      background-size: 20px auto;
      font-size: 14px;
      &.slick-prev{
        text-align: right;
        background-position: center left;
        background-image: url(../images/slider-arrow-prev.svg);
        padding-left: 30px;
        left: 50px;
        @media(max-width: 1200px){
          left: 15px;
        }
      }
      &.slick-next{
        right: 50px;
        padding-right: 30px;
        background-image: url(../images/slider-arrow-next.svg);
        @media(max-width: 1200px){
          right: 15px;
        }
      }
    }
  }
}

.mouse-icon-scroll{
  height:60px;width:50px;display:block;z-index:10;position:absolute;bottom:60px;left:50%;margin-left:-25px; text-align: center;
  @media(max-width: 768px){
    bottom: 15px;
  }
}
.mouse-icon-scroll span{font-size: 12px; color: #fff; display: inline-block; padding-top: 5px;}

.mouse-icon{border:2px solid #fff;border-radius:16px;height:40px;width:24px;display:block;opacity:1; margin: 0 auto;}
.mouse-icon .wheel{-webkit-animation-name:drop;-webkit-animation-duration:1s;-webkit-animation-timing-function:linear;-webkit-animation-delay:0;-webkit-animation-iteration-count:infinite;-webkit-animation-play-state:running;-webkit-animation-name:drop;animation-name:drop;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-delay:0;animation-delay:0;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-play-state:running;animation-play-state:running;position:relative;border-radius:10px;background:#fff;width:2px;height:6px;top:4px;margin-left:auto;margin-right:auto}
@-webkit-keyframes drop {
0%{top:5px;opacity:0}
30%{top:10px;opacity:1}
100%{top:25px;opacity:0}
}
@keyframes drop {
0%{top:5px;opacity:0}
30%{top:10px;opacity:1}
100%{top:25px;opacity:0}
}

