.videoWrapper {
	position: relative;
	padding-bottom: 44.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	position: relative;
	border-radius: 0 0 0 0;
	overflow: hidden;
	max-height: 100%;
	width: 100%;
	& + .video-contents{
		position: absolute;
		z-index: 999;
		height: auto;
		width: 900px;
		display: block;
		margin-top: -180px;
		color: $white;
		left: 6%;
		@media(max-width: 991px){
			display: none;
		}
		.small-video-title{
			h5{
				font-size: 30px;
    		font-weight: 500;
			}
		}
		.big-video-title{
			h3{
				font-size: 48px;
			}
		}
	}
}
.videoWrapper iframe {
	transition: all 1.2s ease-in-out;
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scale(1.4);
}
.mobileImage{
	display: none;
}
@media(max-width: 991px){
	.videoWrapper{
		display: none;
	}
	.mobileImage{
		display: block;
	}
}
.banner-video{
	.banner-images{
		position: relative;
		width: 100%;
		overflow: hidden;
		height: 900px;
		img{
			width: 100%;
			height: auto;
		}
		& + .image-content{
			position: absolute;
			z-index: 999;
			height: auto;
			width: 900px;
			display: block;
			margin-top: -180px;
			color: $white;
			left: 6%;
			bottom: 0;
			.small-img-title{
				h5{
					font-size: 30px;
				font-weight: 500;
				}
			}
			.big-image-title{
				h3{
					font-size: 48px;
				}
			}
		}
	}
}