footer{
  width: 100%;
  height: auto;
  background-color:$secondary;
  .footer-section{
    padding: 60px 0 0 0;
    .content-wrap{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .content-box{
          @media (max-width: 991px){
            width: 50%;
            padding-left: 0!important;
          }
          @media (max-width:768px){
            width: 100%!important;
            padding: 0!important;
           }
          @media (max-width:360px){
            display: grid;
          }
        width: 25%;
        overflow-wrap: break-word;
        b{
        text-transform: uppercase;
        }
        .footer-main-title{
          font-weight: 700;
          text-transform: uppercase;
          color: $black;
          h4{
            font-size: 18px;
          }
          // & + .footer-main-title{
          //   margin-top: 25px;
          // }
        }
        ul{
          padding: 20px 0px;
          list-style: none;
          padding-top: 0px;
          li{
            margin-top: 10px;  
            .footer-inner-content{
              font-size: 14px;
              padding: 20px 0 0 0px;
            }
            a{
              text-decoration: none;
              color: $light-gray;
              font-size: 14px;
            }
            a:hover {
              color: $red;
            }
            b{
              color: $black;
              font-size: 14px;
            }
          }
        }
        & + .content-box{
          padding-left: 30px;
        }
        .social-allign{
          display: flex;
          .social-media{
            width: 30px;
            height: 30px;
            background-color: $lighter-black;
            border: 1px $black;
            border-radius: 4px;
            & + .social-media{
              margin-left: 10px;
            }
            .social-link{
              width: 30px;
              height: 30px;
              .fab{
                font-size: 20px;
                width: 30px;
                height: 30px;
                text-align: center;
                padding-top: 5px;
              }
            }
            &:hover{
              .social-link{
                color: $white;
              }
            }
            &:hover{
                background-color: $red;
            }
          }
          
        }
      }
    }
  }
  .copy-right{
    width: 100%;
    height: auto;
    padding: 5px 0;
    background-color: $light-black;
    .copy-total{
      display: flex;
      justify-content: space-between;
      @media (max-width:991px){
        flex-wrap: wrap;
        flex-flow: column;
      }
    }
    .copy-right-bottom{
      display: flex;
      @media (max-width:991px){
        flex-wrap: wrap;
        flex-flow: column;
        &+.copy-right-bottom{
          li{
            @media (max-width:360px){
              font-size:75%;
            }
          }
        }
      }
      ul{
        margin: 10px 0;
        padding: 0;
        @media (max-width:480px){
          display: flex;
          flex-wrap: wrap;
          flex-flow: column;
        }
        li{
          list-style: none;
          display: inline;
          font-size: 14px;
          color: $light-gray;
          a{
            color: $light-gray;
          }
          & + li{
            margin-left: 20px;
            @media (max-width:480px){
              margin: 0;
              padding-top: 10px;
            }
          }
        }
      }
    }
  }
}
section.gallery{
  .gallery-wrap{
    .gallery-items{
      img{
        @include transition (0.3s, all, ease-in-out);
          position: relative;
          z-index: 1;
      }
      overflow: hidden;
      &:hover{
        img{
          transform: scale(1.2); 
        }
      }
    }
    .gallery-item2{
      overflow: hidden;
      img{
        @include transition (0.3s, all, ease-in-out);
          position: relative;
          z-index: 1;
      }
      &:hover{
				img{
					transform: scale(1.2); 
				}
			}
    }
    .gallery-item21{
      .small-secondraw-img{
        overflow: hidden;
        img{
          @include transition (0.3s, all, ease-in-out);
          position: relative;
          z-index: 1;
        }
        &:hover{
					img{
						transform: scale(1.1); 
					}
				}
      }
    }
    .gallery-item3{
      img{
        @include transition (0.3s, all, ease-in-out);
        position: relative;
        z-index: 1;
      }
      &:hover{
        overflow: hidden;
				img{
					transform: scale(1.2); 
				}
			}
    }
  }
}