.navbar-top-wrap {
  display: flex;
  background-color: $lighter-black;
  .nav-content-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: auto;
    @media(max-width: 768px){
      margin: 0px -15px;
    }
    .navbar {
      display: flex;
      color: $white;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      font-size: 10px;
      @media(max-width: 768px){
        width: 100%;
        &:first-child{
          display: none;
        }
      }
      span {
        margin:auto;
        padding: 10px 0 10px 0;
        color: $default;
      }
      ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        @media(max-width: 768px){
          justify-content: space-between;
          width: 100%;
        }
        li{
          display: flex;
          margin: 0;
          padding: 0;
          &:hover {
            background-color: $red;
          }
          a{
            padding:15px 20px;
            margin: auto;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.brand{
  a{
    padding: 0!important;
    img{
      width: 162px;
      height: auto;
    }
    &:hover{
      background: transparent!important;
    }
  }
}
nav.menu-items{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  a{
    width: 100%;
    display: block;
    color: $black;
    padding: 15px 20px;
    text-decoration: none;
    &:hover{
      background: $secondary;
    }
  }
}
nav.menu-items ul{
  ul.dropdown-menu{
    z-index: -1;
    position: absolute;
    display:flex;
    margin: 0;
    background-color: $gray;
    list-style: none;
    justify-content: space-between;
    padding: 15px 55px 15px 55px;
    width: 100%;
    border: none!important;
    border-radius: 0!important;
    font-size: 14px;
    opacity: 0;
    span{
      margin-right: 10px;
      display: block;
    }
    li{
      color:$white;    
      a{
        text-decoration: none;
        padding: 10px 30px;
        color:$white;
        font-size: 14px;
        display: flex;
        line-height: 12px;
        align-items: center;
      }
      &+li{
        &:hover{
          background: $hash!important;
          cursor: pointer;
        }
        a{
          &:hover{
            background: $hash!important;
          }
        }
      }
    }
  }
}
section.gallery{
  .gallery-wrap{
    display: flex;
    justify-content: space-between;
    .gallery-items{
      width: 50%;
      margin-right: 2px;
      @media (max-width:991px){
        width: 100%;
      }
      img{
        // height: 500px;
      }
    }
  }
  img{
    width: 100%;
  }
}

.nav-items{
  .dropdown-menu{
    @include transition(0.3s, all, ease-in-out);
  }
  & > ul > li{
    &:hover{
      & > a{
        background: $secondary;
      }
      .dropdown-menu{
        opacity: 1;
        z-index: 2;
      }
    }
  }
}

.title{
  display: flex;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 40px;
  @media(max-width: 768px){
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
section.social{
  margin-top: 20px;
  .wraper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    .content-wrap{
      width: 25%;
      padding-right: 15px;
      padding-left: 15px;
      .img-wrap{
        position: relative;
        z-index: 99;
        &:hover{
          img{
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }
          // i{
          //   transition: .5s ease-in-out;
          //   transform: rotateY(360deg);
          // }
        }
        .icon-wrap{
          cursor: pointer;
          position: absolute;
          bottom: 0;
          color: $white;
          font-size: 50px;
          right: 0;
          padding-left: 10px;
          padding-right: 10px;
          padding-bottom: 10px;
        }
      }
      .img-inner-wrap{
        cursor: pointer;
        overflow: hidden;
        border-radius: 5px;
        img{
          -moz-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          max-width: 100%;
        }
      }
      @media (max-width: 991px){
        width: 50%;
      }
      @media (max-width:768px){
        width: 100%;
      }
      p{
        display: flex;
        color: $black;
        margin-top: 20px;
      }
      img{
        width: 100%;
      }
    }
  }
}
// ........................................................................
section.brands{
  margin-top: 50px;
  .content-wrap{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 40px;
    .wraper{
      justify-content: center;
      padding-top: 20px;
    }
  }
  h3{
    color: $white;
    text-transform: uppercase;
  }
  a{
    text-decoration: none!important;
  }
}
.content-wrap-inner{
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding-bottom: 20px;
  h4,h5{
    margin:0;
    font-weight: 400;
    text-transform: uppercase;
  }
  h4{
    color: $red;
    font-size: 20px;
  }
  h5{
    color: $white;
    font-size: 18px;
  }
}

.mobile-menu{
  display: none;
  @media(max-width: 991px){
    display: flex;
  }
  @media(max-width: 768px){
    margin-right: -15px;
  }
}

header{
  .nav-items{
    font-size: 14px;
  }
}

@media(max-width: 991px){
  .nav-items{
    width: 100%;
    padding: 15px 0px;
    display: none;
    @media(max-width: 768px){
      text-align: center;
      background: $secondary;
      margin: 0px -15px;
      width: calc(100% + 30px);
    }
    &.active{
      display: block;
    }
    ul{
      flex-direction: column;
      li{
        width: 100%;
        a{
          width: 100%;
        }
        &:last-child{
          display: none;
        }
      }
    }
  }
}

.mobile-menu-trigger{
  
}
.selection,.select2{
  width: 100px!important;
}
.navbar-top-wrap .nav-content-wrap .navbar span{
  padding: 0;
  background: transparent;
  border: 0;
  outline: none;
}
.select2-selection{
  padding-left: 20px!important;
}
.select2-dropdown{
  margin-top: 9px;
  border: 0;
  background: $secondary;
  width: 250px!important;
}
.select2-container--default,.select2-selection--single,.select2-selection__rendered,.select2-selection__placeholder{
  color: $white!important;
}
.select2-results__option{
  color: $black!important;
  &:hover{
    background: $red!important;
    color: $white!important;

  }
}
.select2-results__option--highlighted {
  background: $red!important;
  color: $white!important;
}
.select2-container--open{
  .select2-selection__arrow{
    b{
      border-color: transparent transparent $white transparent!important;
    }
  }
}
.select2-search__field{
  color: $black;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-color: $white transparent transparent transparent;
}