section.gallery{
	background-color: $secondary;
	.gallery-wrap{
		display: flex;
		justify-content: space-between;
		@media (max-width:991px){
			flex-flow: column;
			flex-wrap: wrap;
		}
		.gallery-items{
			width: 50%;
			position: relative;
			display: flex;
			flex-flow: column;
			@media (max-width:991px){
				flex-flow: column;
				flex-wrap: wrap;
				width: 100%;
				padding-bottom: 2px;
				img{
					height: 100%;
				}
			}
			& + .gallery-items{
			margin-left: 3px;
			}
			img{
			height: 100%;
			}
		}
		.gallery-item2{
			width: 66.66%;
			position: relative;
			display: flex;
			flex-flow: column;
			img{
					height: 100%;
			}	
		}
		.gallery-item21{
			width: 33.33%;
			margin-left: 4px;
			height: 100%;
			.small-secondraw-img{
				height: 50%;
				position: relative;
				display: flex;
				flex-flow: column;
				img{
					height: 100%;
				}
				.small-img-cont{
					position: absolute;
					bottom: 15px;
					left: 30px;
					color: $white;
					.small-img-title{
						h4{
								font-size: 20px;
						font-weight: 600;
						text-transform: uppercase;
						}
					}
					.small-img-content{
						h3{
							font-size: 30px;
							font-weight: 700;
							line-height: 25px;
							text-transform: uppercase;
						}
					}
				}
				& + .small-secondraw-img{
					padding-top: 4px;
				}
			}
		}	
		.gallery-item3{
			width: 33.33%;
			overflow: hidden;
			position: relative;
			height: 100%;
			& + .gallery-item3{
					margin-left: 4px;
			}
		}
	}
	img{
		width: 100%;
		height: 100%;
	}
	.show-more{
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
  .gallery-second{
		margin-top: 4px;
		height: auto;
  }
  .gallery-third{
		margin-top: 4px;
		height: auto;
	}
	//banner home
	.home-banner{
		margin-bottom: 4px;
		width: 100%;
		.carousel-inner{
			max-height: 800px;
		}
	}

