.breadcrumb-wrap{
  border-top: 2px solid $secondary ;
  font-size: 14px;
  ol{
    margin: 0;
  }
}
.breadcrumb{
  background-color:$white;
  a,li,.active{
    color: $black;
    font-size: 14px;
  }
  .breadcrumb-item{
    &+.breadcrumb-item{
      &:before{
        font-family: 'icomoon' !important;
        content: "\e901";
      }
    }
  }
}