//large button
.btn-default{
    width: 400px;
    height: 50px;
    background-color: $gray;
    border-radius:0;
    border:none;
    display: flex;
    justify-content: center;
    &:hover{
        background-color: $red;
    }
}
.btn-primary{
    width: 400px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: $red;
    background: $red;
    border-radius:0;
    border:none;
    display: flex;
    justify-content: center;
    &:hover{
        background-color: $red;
    }
}
.btn-wrap{
    display: flex;
    justify-content: center;
}
button{
    border-radius:0;
    border: none;
    text-transform: uppercase;
    color: $white;
}
.btn-effect{
    text-align: center;
    font-size: 16px;
    line-height: 30px; 
    transition: all .6s ease-out;
    display: block;
    line-height: 35px;
}
.button-effect{
    display: block;
    background: linear-gradient(45deg, $red 50%, $gray 50%);
    background-size: 250% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
.button-effect:hover {
    background-position: left bottom;
}
//small button
.button-adjust{
    width: 110px;
    padding: 20px 0;
    @media(max-width:768px){
      padding: 10px 0;
    }
}
.btn-adjust{
    width: 120px;
    font-size: 14px;
    height: auto;
}
a.btn-adjust{
    font-size: 16px!important;
}
a.btn-default{
    font-size: 24px;
}
a.btn{
    color:$white!important;
    text-transform: uppercase;
}
//socialmedia
.social-media-wrap{
  li{
    a{
      .facebook{
        &:hover{
        color: #3b5998!important;
        }
      }
      .googleplus{
        &:hover{
        color: #d9534f!important;
        }
      }
      .twitter{
        &:hover{
        color: #5bc0de!important;
        }
      }
      .linkedin{
        &:hover{
        color: #0077B5!important;
        }
      }
    }
  }
}
