.one-item{
    grid-template-areas: 
      "a a a a a a"
      !important;
}
.two-items{
    grid-template-areas: 
      "a a a b b b"!important;
}
.three-items{
    grid-template-areas: 
      "a a a b b b"
      "c c c c c c"!important;
}
.four-items{
    grid-template-areas: 
      "a a a b b b"
      "c c c d d d"!important;
}
.five-items{
    grid-template-areas: 
    "a a a b b b"
    "d d c c c c"
    "e e c c c c"!important;
}
.six-items{
    grid-template-areas: 
    "a a a b b b"
    "d d c c c c"
    "e e c c c c"
    "f f f f f f"!important;
}
.seven-items{
    grid-template-areas: 
    "a a a b b b"
    "d d c c c c"
    "e e c c c c"
    "f f f g g g"!important;
}
.eight-items{
    display: grid;
    grid-template-areas: 
      "a a a b b b"
      "d d c c c c"
      "e e c c c c"
      "f f g g h h"!important;
  }