section.guide{
    ul,p,li,i{
        color: $black;
    }
    .social-media-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
        @media(max-width:441px){
        padding: 20px;
        }
        ul{
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                display: flex;
                margin: auto;
                font-size: 18px;
                @media(max-width:441px){
                  font-size: 90%;
                }
                &+li{
                    padding-left: 20px;
                }
                a{
                    i{
                        font-size: 38px;
                        color: $hash;
                        @media(max-width:441px){
                          font-size: 30px;
                        }
                    }
                }
            }
        }
    }
    .para-wrap{
      padding-top: 20px;
      padding-bottom: 40px;
      display: flex;
      flex-flow: column;
      @media(max-width:768px){
        align-items: center;
      }
      @media(max-width:640px){
        padding-bottom: 20px;
        padding-top: 20px;
        align-items: center;
        justify-content: center;
      }
      h3{
        font-weight: $Regular;
        margin: 0;
        @media(max-width:768px){
          font-size:1.3rem;
          text-align: center;
          }
        @media(max-width:640px){
          font-size:1.2rem;
          font-weight: $SemiBold;
          text-align: center;
        }
        @media(max-width:480px){
          font-size: 1rem;
        }
        @media(max-width:420px){
          font-size: .9rem;
        }
        @media(max-width:375px){
          font-size: .8rem;
        }
      }
      p{
        padding-top:20px;
        margin: 0;
        @media(max-width:768px){
          font-size:.95rem;
        }
        @media(max-width:640px){
          font-size:.85rem;
        }
        @media(max-width:480px){
          font-size: .75rem;
        }
        @media(max-width:420px){
          font-size: .7rem;
        }
        @media(max-width:375px){
          font-size: .65rem;
        }
      }
    }
  .para-wrap:nth-child(3){
      flex-flow: row;
      justify-content: space-between;
      @media(max-width:991px){
          flex-flow:column;
          padding-right:0;
          width: 100%;
      }
    }
    .para-inner-wrap{
        padding-right: 40px;
        width:70%;
        @media(max-width:991px){
          padding-right:0;
          padding-bottom: 40px;
          width: 100%;
      }
    }
    .inner-para-two{
        display: flex;
        flex-direction: row;
        @media(max-width:768px){
          justify-content: space-around;
        }
        h4{
            font-size: 22px;
            margin: 0;
        }
        &+.inner-para-two{
          @media(max-width:1200px){
            padding-top: 40px;
          }
        }
     }
    .para-grid{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media(max-width:1200px){
          justify-content: flex-start;
        }
        @media(max-width:768px){
          
        }
        @media(max-width:640px){
          text-align: center;
        }
    }
    .inner-para{
      @media(max-width:991px){
        font-size: 90%;
      }
        &+.inner-para{
        padding-left: 10px;
        }
        .icon-wrap{
            padding-bottom: 10px;
            i{
                color:$red;
                font-size: 30px;
                font-weight: $Light;
            }
        }
        h4{
            font-weight: $Regular;
            padding-bottom: 10px;
            @media(max-width:768px){
              font-size: 18px;
            }
            @media(max-width:640px){
              font-size: 90%;
            }
        }
        span{
            color: $grey;
        }
    }
}
section.related-articles{
    padding-top: 20px;
    .title-wrap{
        display:flex;
        justify-content: center;
        padding-bottom: 40px;
        @media(max-width:441px){
          font-size: 90%;
        }
        h2{
            margin: 0;
            @media(max-width:441px){
              font-size: 24px;
            }
        }
    }
    .slider-wrap{
        display: flex;
        justify-content: space-between;
        i{
            cursor: pointer;
        }
        i.left{
            margin: auto;
            position: absolute;
            top: 50%;
            left: -35px;
            @media(max-width:768px){
            left: -20px;
            }
         }
         i.right{
            top: 50%;
            position: absolute;
            right:-35px;
            @media(max-width:768px){
            right: -20px;
            }
         }
        .slider{
            padding-left: 15px;
            padding-right: 15px;
            .img-wrap{
                position: relative;
                overflow: hidden;
                width: 100%;
                display: block;
                img{
                  min-height:350px;
                }
                // overflow: hidden;
                .content-wrap{
                    // width: 85%;
                    display: block;
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0px;
                    right: 0px;
                    padding: 15px;
                    h5{
                      font-size: 30px;
                    }
                    span{
                      font-size: 20px;
                    }
                    h5, span{
                        color: $white;
                        text-transform: uppercase;
                        width: 100%;
                    }
                }
            }
            // &+.slider{
            // // padding-left: 10px;
            // }
        }
        img{
            width: 100%;
        }
    }
    // .slick-next,.slick-prev{
   
    // }
}
.slider-row{
    margin-left: -15px;
    margin-right: -15px;
}
.title{
  h2,h3{
    font-size: 43px;
  }
  @media(max-width:640px){
    h2,h3{
      font-size:24px;
    }
  }
}
//back to top button
.back-to-top{
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 999;
  i{
    margin: auto;
    color: $white;
    position: absolute;
    top: 11px;
    left: 11px;
  }
}
.back-to-top-wrap{
  height: 40px;
  width: 40px;
  background-color: rgba($red, $alpha: 0.9);
  border-radius: 50%;
}
#backToTop{
  display: none;
}