.brands{
  background-size: cover;
  position: relative;
  &:after{
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: $black;
    opacity: 0.34;
  }
  .container{
    position: relative;
    z-index: 1;
  }
}
//@Override
section.home-gallery{
  background-color:$secondary;
  
  .show-more{
    padding-bottom: 40px;
  }
  .home-gallery-wrap{
    display: grid;
    padding-bottom: 40px;
    grid-auto-flow: dense;
    object-fit: fill;
    grid-gap: 4px;
    @media(max-width:991px){
      display: flex;
      flex-direction: column;
    }
    .home-gallery-item > img {
      object-fit: cover;
    }
    img{
      width: 100%;
      height: auto;
    }
    .home-gallery-item{
      position: relative;
      display: grid;
      object-fit: cover;
      background-size: cover;
      overflow: hidden;
      @media(max-width:991px){
        &+.home-gallery-item{
          margin-top: 4px;
        }  
      }
      img {
        width: 100%;
        height: auto;
        max-width: 100%;
        display: block;
        object-fit: cover;
        @include transition (0.3s, all, ease-in-out);
      }
      &:hover{
        img{
          transform: scale(1.2);
        } 
      }
      .small-img-content{
        h3{
          font-size: 24px;
          font-weight: 700;
          line-height: 25px;
          text-transform: uppercase;
          @media(max-width: 1200px){
            font-size: 18px;
            line-height: 20px;
          }
          @media(max-width: 768px){
            font-size: 22px;
            line-height: 24px;
            margin-bottom: 0px;
          }
          @media(max-width:640px){
            font-size: 18px;
          }
        }
      }
      .small-img-title{
        h4{
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
          @media(max-width: 1200px){
            font-size: 16px;
            line-height: 18px;
          }
          @media(max-width:768px){
            font-size: 20px;
          }
        }
      }
      .gallery-img-cont,.small-img-cont{
        .img-title,.img-content,.small-img-content,.small-img-title{
          
          h3{
            @media(max-width:768px){
              margin: 0;
            }
          }
          h4,h3{
            @media(max-width:768px){
              font-size: 90%;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
  .item1 {
    grid-area: a;
  }
  .item2 {
    grid-area: b;
  }
  .item3 {
    grid-area: c;
  }
  .item4 {
    grid-area: d;
  }
  .item5 {
    grid-area: e;
  }
  .item6 {
    grid-area: f;
  }
  .item7 {
    grid-area: g;
  }
  .item8{
    grid-area: h;
  } 
}
.searchbar{
  position: relative;
  display: inline-flex;
  max-width:211px; 
  input{
    padding: 10px 0 10px 10px ;
  }
  &:hover{
    a{
      width:inherit;
    }
  }
}
.search_input{
  // position: absolute;
  // top:2px;
  // right:-30px;
  display: inline-flex;
  // background-color: rgba($black, $alpha: 0.9);
}
// .search_input{
//   color:$black;
//   border: 0;
//   outline: 0;
//   background: none;
//   width: 0;
//   caret-color:transparent;
//   transition: width 0.4s linear;
//   }
//   .input-active{
//   width: 200px;
//   caret-color:$hash;
//   transition: width 0.4s linear;
//   }
.add-input-background{
  background-color: $secondary;
}
.icon{
  font-size: 24px;
}
.icon-small{
  font-size: 18px;
}
.input-toggle-button{
  position: relative;
}
.searchbar-dropdown{
  position: absolute;
  background: #000;
  bottom: 0;
  width: 1170px;
  height: 60px;
  top: 51px;
  z-index: 9;
  right: 0;
  @media(max-width:768px){
    width: 330px;
    top: 57px;
    height: 55px;
  }
  li{
    width: 100%;
  }
  .search-wrapper{
    display: flex;
    padding: 10px 20px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    .searchBtn {
      background: #666;
      width: 90px;
      height: 40px;
      text-align: center;
      text-transform: uppercase;
      line-height: 40px;
      color: #FFF;
      font-size: 16px;
      font-weight: 600;
    }
  }
  .searcher{
    width: 100%;
    background: transparent;
    font-size: 17px;
    border: none;
    outline: none;
  }
  #searchInput,button,.searchBtn{
    @media(max-width: 768px){
      font-size: 12px!important;
    }
  }
}