// Color Variables
$primary 		    : #ff0000;
$primary_dark   : #17479e;
$primary_light  : #2A7EC6;
$primaryx_light : #4DA6F3;
$secondary      : #e8e8e8;
$secondary_light: #E1F1FC;
$default        : #C8C9C7;
$gray           : #434343;
$hash           : #5f6062;
$light-black    : #333333;
$lighter-black  : #212224;
$light-gray     : #938d94;

$danger					:	#E24F4F;
$success				:	#64AF2E;
$warning				:	#EAAE2D;

$white					:	#ffffff;
$black					:	#000000;
$red                    :   #ff0000;

$dark           : #3C3C3C;
$grey           : #C8C9C7;
$light          : #FBFBFB;