// Common Styles
a, .btn, a:focus, .btn:focus{outline: 0;}

html, body{font-size: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 18px; font-family: $Praxis;}
// body{position: relative;}

ul, p {color:$white;}

a, button{ @include transition(all, .2s, ease-in-out);}
a, a:hover, a:focus{color: $white;}

b, label{}

textarea{resize: vertical}

h1, h2, h3, h4, h5{
  font-weight: $Bold;
}

h5{
  font-size: 20px;
  line-height: 30px;
}

@media(min-width: 1200px){
  .container{
    max-width: 1200px;
  }
}
//small gallery
.small-img-cont{
	position: absolute;
	bottom: 15px;
	left: 30px;
	color: $white;
  @media(max-width: 768px){
    left: 15px;
  }
	.small-img-title{
		h4{
			font-size: 22px;
			font-weight: 600;
			text-transform: uppercase;
		}
	}
	.small-img-content{
		h3{
			font-size: 24px;
			font-weight: 700;
			line-height: 25px;
			text-transform: uppercase;
      @media(max-width: 768px){
        font-size: 22px;
        line-height: 24px;
      }
		}
	}
}
// large gallery
.gallery-img-cont{
	position: absolute;
	bottom: 25px;
	left: 50px;
  @media(max-width: 1200px){
    left: 30px;
    bottom: 15px;
  }
  @media(max-width: 768px){
    left: 15px;
    bottom: 0px;
  }
	.img-title{
		color: $white;
		text-transform: uppercase;
		h4{
			font-weight: 600;
		}
	}
	.img-content{
		color: $white;
		text-transform: uppercase;
		a{
      text-decoration: none;
    }
	}
}