@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon-bridge.eot?i0d7ph');
  src:  url('../fonts/icomoon-bridge.eot?i0d7ph#iefix') format('embedded-opentype'),
    url('../fonts/icomoon-bridge.woff2?i0d7ph') format('woff2'),
    url('../fonts/icomoon-bridge.ttf?i0d7ph') format('truetype'),
    url('../fonts/icomoon-bridge.woff?i0d7ph') format('woff'),
    url('../fonts/icomoon-bridge.svg?i0d7ph#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adventure:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e902";
}
.icon-idea:before {
  content: "\e903";
}
.icon-news:before {
  content: "\e904";
}