//Typography Rules Go Here
@font-face {
    font-family: 'Praxis Com';
    src: url('../fonts/PraxisCom-Light.woff2') format('woff2'),
        url('../fonts/PraxisCom-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Praxis Com';
    src: url('../fonts/PraxisCom-Bold.woff2') format('woff2'),
        url('../fonts/PraxisCom-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Praxis Com';
    src: url('../fonts/PraxisCom-Semibold.woff2') format('woff2'),
        url('../fonts/PraxisCom-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Praxis Com';
    src: url('../fonts/PraxisCom-Regular.woff2') format('woff2'),
        url('../fonts/PraxisCom-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



//Fonts-Families
$alternate-font: Helvetica, Arial, sans-serif;
$GEHili-Book: 'GEHili-Book', $alternate-font;
$Praxis: 'Praxis Com', $alternate-font;
$icomoon: 'icomoon';

//Font-Weight
$Thin 		  : 100;
$Etralight 	: 200;
$Light		  : 300;
$Regular	  : 400;
$Medium		  : 500;
$SemiBold	  : 600;
$Bold		    : 700;
$ExtraBold	: 800;
$Black		  : 900;